
body {background-image:url('binary2.png');background-size:100% 9em;
color:#333333; background-repeat:no-repeat;}
body background {opacity:0.5;}
#home{float:left; width:2em; margin:0.2em;background:#DDDDDD;
padding:0.3em;border:#BBBBBB solid thin;
border-radius:0.2em;text-align:center;}
#header{font-size:2em;}
#title{ width:47em; margin-left:auto;margin-right:auto;text-align:center;
text-decoration:underline;
padding:0.3em;}
.menuName h4 {}
#menu {width:48em;margin-left:auto;margin-right:auto;}
#menu div{border:solid #BBBBBB thin;padding:0.3em;border-radius:0.3em;float:left;
text-align:center;background:#DDDDDD;vertical-align:top;width:5.35em;margin:0.3em;margin-left:0.4em;}
#menu div div{visibility:hidden;}
#contentDiv{height:auto;width:44.5em;margin-left:auto;margin-right:auto; background:white;
 padding:1.5em;border-radius:0.4em;clear:both;border:solid #BBBBBB thin;}
#nodeDiv{height:auto;width:auto;background:white;
 border-radius:0.4em;border:solid #BBBBBB thin;}
#optiDiv{height:100px;width:150px;margin:1em;background:white;
 border-radius:0.4em;border:solid #BBBBBB thin;clear:both;}
.subhead{padding-left:1em;}
.subhead p{padding-left:2em;}
#minipic{height:3em;width:5em}
#footer{width:67em;margin-left:auto;margin-right:auto;margin-top:1em;border:solid #BBBBBB thin; background:#DDDDDD;
font-size:0.7em;height:2em; text-align:center;
border-radius:0.4em; padding-bottom:0.3em;}
